body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #000000;
    font-size: 13px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
h1 {
    font: 600 50px "Open Sans", sans-serif;
    letter-spacing: -3px;
    margin-bottom: 0px;
}
h2 {
    font: 400 30px "Open Sans";
    letter-spacing: -2px;
}
h3 {
    font: 600 20px "Open Sans";
    letter-spacing: -1px;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #888888;
    margin: 10px 0;
}
a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}
p a {
    color: #000000;
    text-decoration: none;
}
html { 
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
li {
	user-select: text;
	-moz-user-select: text;
	-khtml-user-select: text;
	-ms-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
}
img {
    max-width:90%;
}

.red, .green, .blue, .black, .orange {
    margin: 20px;
    width: 200px;
    display: inline-block;
}
.red .noUi-base {
    background: #c0392b;
}
.green .noUi-base {
    background: #27ae60;
}
.blue .noUi-base {
    background: #2980b9;
}
.black .noUi-connect {
    background: #000000;
}
.orange .noUi-base {
    background: #ffa500;
}
.verticalslider {
    height: 50px;
}

.stitched {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #aaa;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ffffff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    font-weight: normal;
    display: inline-block;
}

input, textarea {
    padding: 9px;
    margin: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    width: 150px; 
    background: #FFFFFF url('bg_form.png') left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
input:hover, textarea:hover, input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
}
label { 
    margin-left: 10px; 
    color: #999999; 
}
body {
    text-align: center;
    background-color: #ffffff;
}
select {
    padding: 9px;
    margin: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    width: 240px; 
    background: #FFFFFF url('bg_form.png') left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.button {
    margin: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.button:active {
    position:relative;
    top:1px;
}

.sliders {
    margin: 20px;
}
.textboxes {
    margin: 20px;
}

#accordion #check-1 {
    display: none;
}
#accordion label {
    background: #ffffff;
    border-radius: .25em;
    cursor: pointer;
    display: block;
    margin-bottom: .125em;
    padding: .25em 1em;
    z-index: 20;
}
#accordion label:hover {
    color: #000000;
}
#accordion input:checked + label {
    background: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
}
#accordion .settings {
    background: #ffffff;
    height:0px;
    overflow:hidden;
    z-index:10;
}
#accordion .settings p {
    padding: 1em;
}
#accordion input:checked .settings {
}
#accordion input:checked ~ .settings {
    height: auto;
}

.container {
    display: inline-block;
    margin: 10px;
}

a:hover {
    color: #555555;
}

.tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    font: 400 12px/12px Arial;
    border-radius: 3px;
    background: #fff;
    top: 43px;
    padding: 5px;
    left: -9px;
    text-align: center;
    width: 50px;
}

.logo {
    margin: 15px;
}

#currentnames {
	list-style: none;
	-webkit-column-count: 6;
	-webkit-column-gap: 20px;
	-webkit-column-width: 150px;
	-moz-column-count: 6;
    -moz-column-gap: 20px;
    -moz-column-width: 150px;
	column-count: 6;
	column-gap: 20px;    
    column-width: 150px;
    overflow: hidden;
	max-width: 100vw;
}

#trainingdataedit {
	text-transform: lowercase;
    resize: horizontal;
    min-width: 80vw;
    min-height: 300px;
    max-height: 900px;
    border: 3px solid #cccccc;
    padding: 5px;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#shareedit {
	display:none;
    resize: horizontal;
    min-width: 80vw;
    min-height: 150px;
    max-height: 900px;
    border: 3px solid #cccccc;
    padding: 5px;
    background-position: bottom right;
    background-repeat: no-repeat;
}